*{
    padding: 0;
    margin: 0;
    
}
.cuerpo{
    background-image: url(./img/pizzaFondo.jpg);
    height: 85vh ;
}
.piePagina{
    background-color: rgba(12, 11, 11, 0.781);
    height: 10vh;
}
.formulario {
    transition: all 3s;
}
.formulario:hover {
    box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px, rgb(51, 51, 51) 0px 0px 0px 3px;
}
.accordion {
    transition: all 3s;
}
.accordion:hover {
    box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px, rgb(51, 51, 51) 0px 0px 0px 3px;

}