.cuerpo{
    background-image: url(../img/pizzaFondo.jpg);    
    background-position: center;
    height: 85vh ;
}
.titulo{
    color: $seconcolor;
    background-color: $maincolor;
    border-style: solid;
    border-width: 1px;
    border-color: $seconcolor;
}
.carrucel{
    max-width:60%;
    }
.texto {
    color: $seconcolor;
    background-color: $maincolor;
    border-style: solid;
    border-width: 1px;
    border-color: $seconcolor;
}
.textoTitulo{
    color: $seconcolor;
    background-color: $maincolor;
    border-style: solid;
    border-width: 1px;
    border-color: $seconcolor;
    text-align: center;
}