.piePagina{
    padding: 10px;
    background-color: rgba(12, 11, 11, 0.781);
    height: 100px;
}
.icono{
    color: white;
    padding: 8px;
    font-size: 32px;
    margin: 10px;
}
.icono:hover{
    color: rgba(59, 236, 127, 0.342);
}